@model IEnumerable<GroupCoursework.ViewModels.InactiveCustomersViewModel>

@{ ViewData["Title"] = "Inactive Customer Details"; }

<h1>Inactive Member Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPhone)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CustomerName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CustomerEmail)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CustomerPhone)
    </td>
</tr>}
    </tbody>
</table>

